:root {
  --back-color: #ffffff;

  --overlay-color: rgb(79, 79, 79, 0.4);

  --primary-color: rgba(112, 147, 108, 0.64);
  --secondary-color: #cdcdcd;

  --clock-hr-color: rgba(255, 255, 266, 0.4);

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #bcb9b5;

  --clock-back-color: rgba(0, 0, 0, 0.06);
  --clock-card-color: #d6d6d6;
  --clock-card-text-color: #000000;
  --clock-card-default-color: #d6d6d6;
  --clock-dial-color: #9f9f9f;
  --clock-hand-color: #000000;
  --clock-second-hand-color: #c80f0a;
}

.icon-info__image,
.card-clock__setting svg {
  filter: invert(1);
}
