:root {
  --back-color: #000000;
  --clock-back-color: #d6d6d6;

  --overlay-color: rgba(0, 0, 0, 0.6);

  --primary-color: rgba(112, 147, 108, 0.64);
  --secondary-color: #cdcdcd;

  --clock-bgcolor: rgba(0, 0, 0, 0.06);
  --clock-hr-color: rgba(255, 255, 266, 0.4);

  --primary-text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #bcb9b5;

  --clock-card-color: #000000;
  --clock-card-default-color: #000000;
}

.page-header__logo {
  filter: invert(1);
}

.nav-setting__button {
  filter: contrast(0);
}
