:root {
  color-scheme: light dark;

  --primary-font: "Inter", "Verdana", sans-serif;
  --max-width: 1920px;
  --search-item-hover: rgba(112, 147, 108, 0.3);
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;

  src: local("Inter Regular"),
    local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter";
  font-display: swap;

  src: local("Inter SemiBold"),
    local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2");
}

@-webkit-keyframes setting-open {
  0% {
    opacity: 0;
    margin-left: -10px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes setting-open {
  0% {
    opacity: 0;
    margin-left: -10px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-unstyled {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.button {
  display: inline-flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button--default {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 22px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border-radius: 8px;
}

.button--icon {
  padding: 6px;
  background: transparent;
}

.page {
  box-sizing: border-box;
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: start;
  min-width: 375px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--primary-font);
  color: var(--primary-text-color);

  background-color: var(--back-color);
}

.page-header {
  position: relative;

  background-color: var(--back-color);
}

.page-header__container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;

  min-height: 76px;
  padding: 12px 20px;
}

.page-header__logo img {
  vertical-align: middle;
}

.clock-setting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clock-setting__item {
  margin-left: 24px;
}

.clock-setting__button {
  font-size: 0;
  line-height: 0;
  padding: 6px;
}

.nav-setting__button {
  transition: opacity 0.5s ease-in-out;
}

.nav-setting__button img {
  vertical-align: middle;
}

.nav-setting__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav-setting__button::marker {
  content: "";
  display: none;
}

.nav-setting__content {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 8px 20px;

  box-sizing: border-box;

  background-color: var(--back-color);
  border-top: 1px solid  var(--primary-color);
}

.nav-setting[open] .nav-setting__content {
  -webkit-animation: setting-open 0.5s ease-in-out;
          animation: setting-open 0.5s ease-in-out;
}

.nav-setting__fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
}

.nav-setting__list:not(.nav-setting__list--checkbox) {
  border: 1px solid var(--secondary-color);
  overflow: hidden;
  border-radius: 4px;
}

.form-control {
  display: block;
}

.form-control__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 18px;
  color: var(--primary-text-color);

  transition: opacity 0.5s ease-in-out;
}

.form-control__field[type="checkbox"]:not(:disabled) + .form-control__label,
.form-control__field[type="radio"]:not(:checked):not(:disabled) + .form-control__label {
  cursor: pointer;
}

.form-control--radio .form-control__label {
  width: 100%;
  min-height: 36px;
  padding: 4px 22px;

  font-size: 14px;
  line-height: 18px;
  color: var(--primary-text-color);

  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.form-control__field[type="radio"]:checked + .form-control__label {
  background-color: var(--primary-color);
}

.form-control__field[type="radio"]:focus + .form-control__label,
.form-control__field[type="radio"]:not(:checked):not(:disabled) + .form-control__label:hover {
  box-shadow: 2px 0 0 var(--overlay-color) inset;
}

.form-control__field[type="radio"]:disabled + .form-control__label {
  background-color: var(--overlay-color);
  opacity: 0.3;
}

.form-control--checkbox .form-control__label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid var(--tertiary-text-color);
  border-radius: 4px;
  margin-right: 10px;

  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.form-control__field[type="checkbox"]:checked + .form-control__label::before {
  box-shadow: 0 0 0 2px var(--secondary-text-color) inset;
  background-color: var(--tertiary-text-color);
}

.form-control__field[type="checkbox"]:focus + .form-control__label::before,
.form-control__field[type="checkbox"]:not(:disabled) + .form-control__label:hover::before {
  border-color: var(--primary-color);
}

.form-control__field[type="checkbox"]:disabled + .form-control__label {
  opacity: 0.3;
}

.blockquote {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 374px;
}

.blockquote::before,
.blockquote__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-blockquote {
  position: relative;
  z-index: 2;
  padding: 20px;
  max-width: 600px;
  font-weight: 700;
  color: var(--secondary-text-color);
}

.blockquote::before {
  content: "";
  background-color: var(--overlay-color);
}

.form-blockquote footer {
  margin-top: 20px;
}

.form-blockquote__text,
.form-blockquote__text p {
  margin: 0;
}

.form-blockquote__button {
  margin-bottom: 20px;
}

.form-blockquote__button:focus {
  transform: rotate(180deg);
  transition: transform 2s ease-in-out;
}

.blockquote__background {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.card-clock {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--clock-card-color);
  transition: box-shadow 0.5s ease-in-out;
}

.card-clock--added {
  background-color: var(--clock-card-default-color);
}

.card-clock--added .card-clock__wrapper {
  margin-top: 40px;
}

.card-clock:hover {
  box-shadow: -1px 0 0 0 var(--clock-hr-color) inset,
              1px 0 0 0 var(--clock-hr-color) inset;
}

.card-clock:hover .card-clock__setting {
  opacity: 0.5;
}

.card-clock__wrapper {
  max-width: 400px;
}

.card-clock__group-info {
  min-height: 132px;
}

.card-clock__clock {
  width: 100%;
  margin-bottom: 16px;
}

.icon-info,
.card-clock__informer,
.card-clock__setting {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-clock__setting {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.card-clock__setting li:not(:last-child) {
  margin-right: 8px;
}

.card-clock__informer:not(:last-child) {
  margin-bottom: 12px;
}

.icon-info__image {
  margin-right: 8px;
}

.card-clock__informer li:not(:last-child) {
  margin-right: 16px;
}

.card-clock__informer time {
  text-transform: uppercase;
}

.card-clock__button {
  margin-bottom: 16px;
}

.button-offset {
  padding: 0;
  position: relative;
  background-color: transparent;
}

.button-offset span {
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 10px;
  white-space: nowrap;

  text-transform: uppercase;
  transition: opacity 0.4s ease-in-out;
}

.button-offset__imhere {
  color: var(--primary-text-color);
  background-color: var(--back-color);
  border-radius: 32px;
}

.button-offset__time {
  color: var(--secondary-text-color);
}

.button-offset--active:hover .button-offset__imhere,
.button-offset--active:not(:hover) .button-offset__time,
.button-offset--default:hover .button-offset__time,
.button-offset--default:not(:hover) .button-offset__imhere {
  position: absolute;
  opacity: 0;
}

.clock-title {
  font-weight: 400;
  margin: 0 0 12px;
}

.clock-title span {
  display: block;
}

.clock-title__city {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 8px;
}

.clock-title__country {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.clocks__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.clocks__list > li {
  display: flex;
}

.clock-svg__back {
  fill: var(--clock-back-color);
}

.clock-svg {
  width: 100%;
  height: auto;
}

.form-search {
  position: relative;
  width: 100%;
  max-width: 294px;
  margin: 0 auto;
  text-align: left;
}

.form-search__input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  padding: 0 12px;
  transition: border-color 0.5s ease-in-out;
}

.form-search__input:hover,
.form-search__input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form-search__select {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 2px);
  background-color: var(--back-color);
  z-index: 1;
  color: var(--primary-text-color);
}

.form-search__select li {
  padding: 6px 12px;
  transition: background 0.5s ease-in-out;
}

.form-search__select li:hover {
  cursor: pointer;
  background-color: var(--search-item-hover);
}

@media (max-width: 768px) {
  .nav-setting__wrapper {
    margin-bottom: 10px;
  }

  .nav-setting__list li:not(:last-child) {
    border-bottom: 1px solid var(--secondary-color);
  }
}

@media (min-width: 769px) {
  .nav-setting__list,
  .nav-setting__form,
  .nav-setting__fieldset {
    display: flex;
    align-items: center;
  }

  .nav-setting__form {
    justify-content: center;
    flex-wrap: wrap;
  }

  .clock-setting__item {
    margin-left: 40px;
  }

  .clock-setting__button {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 22px;
  }

  .button__icon {
    margin-left: 14px;
  }

  .nav-setting__fieldset {
    margin-left: 24px;
    margin-right: 24px;
  }

  .nav-setting__wrapper {
    margin-right: 20px;
  }

  .nav-setting__list li:not(:last-child) {
    border-right: 1px solid var(--secondary-color);
  }

  .form-blockquote {
    max-width: 734px;
  }

  .form-blockquote__button {
    position: absolute;
    top: 20px;
    left: calc(100% - 20px);
    min-width: 33px;
  }
}

@media (min-width: 1961px) {
  .container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .page-header__container {
    min-height: 110px;
  }

  .page-header__logo img {
    width: 271px;
  }

  .clock-setting__button {
    padding: 13px 15px;
    font-size: 18px;
    line-height: 24px;
  }

  .button__icon {
    margin-left: 30px;
  }

  .nav-setting__content {
    padding: 20px;
  }

  .blockquote {
    min-height: 500px;
  }
}
