:root {
  --back-color: #ffffff;
  --clock-back-color: #000000;

  --overlay-color: rgb(79, 79, 79, 0.4);

  --primary-color: rgba(112, 147, 108, 0.64);
  --secondary-color: #cdcdcd;

  --clock-bgcolor: rgba(0, 0, 0, 0.06);
  --clock-hr-color: rgba(255, 255, 266, 0.4);

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #bcb9b5;

  --clock-card-color: #69c0ff;
  --clock-card-default-color: #2384ca;
}
